{% load static %}
<html>
    <head>
        <title>Equipments</title>
        <link rel="stylesheet" href="/website/static/css/equipstyles.css">
    </head>
    <body><h1><center>Equipments</center></h1></body>
    <div class="wrapper">
        <div class="card">
            <img src="../static/login.jpeg" alt="Avatar">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
        </div>
        <div class="card">
            <img src="../static/login.jpeg" alt="Avatar">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
        </div>
        <div class="card">
            <img src="../static/login.jpeg" alt="Avatar" style="width:10%">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
        </div>
    </div>
</html>